<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.HotelmanagerConnectionString"
            connectionString="Data Source=TONEY_LEE\SQLEXPRESS;Initial Catalog=Hotelmanager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>