USE [Hotelmanager]
GO
/****** Object:  Table [dbo].[RULE]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULE](
	[StaffAgeMin] [int] NULL,
	[StaffAgeMax] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMTYPE]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMTYPE](
	[RoomTypeID] [nchar](10) NOT NULL,
	[RoomTypeName] [nvarchar](50) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_ROOMTYPE] PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [nchar](10) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[IDNumber] [nchar](10) NULL,
	[PhoneNumber] [nchar](11) NULL,
	[Address] [nchar](255) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDITIONS]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDITIONS](
	[ConditionsID] [nchar](10) NOT NULL,
	[ConditionsName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
	[ActionValue] [int] NULL,
	[ChargeByTheHour] [bit] NULL,
	[HourMin] [float] NULL,
	[HourMax] [float] NULL,
	[HourLate] [float] NULL,
 CONSTRAINT [PK_CONDITIONS] PRIMARY KEY CLUSTERED 
(
	[ConditionsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[UnitID] [nchar](10) NOT NULL,
	[UnitName] [nvarchar](50) NULL,
 CONSTRAINT [PK_UNIT] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[StatusID] [nchar](10) NOT NULL,
	[StatusName] [nvarchar](20) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[StaffID] [nchar](10) NOT NULL,
	[StaffName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNumber] [nchar](11) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICESTYPE]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICESTYPE](
	[ServicesTypeID] [nchar](10) NOT NULL,
	[ServicesTypeName] [nvarchar](100) NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ServicesTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICES]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICES](
	[ServicesTypeID] [nchar](10) NULL,
	[ServicesID] [nchar](10) NOT NULL,
	[ServicesName] [nvarchar](100) NULL,
	[UnitID] [nchar](10) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_SERVICES] PRIMARY KEY CLUSTERED 
(
	[ServicesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICELIST]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICELIST](
	[PriceListID] [nchar](10) NOT NULL,
	[PriceListName] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[PriceListDate] [date] NULL,
	[StaffID] [nchar](10) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_PRICELIST] PRIMARY KEY CLUSTERED 
(
	[PriceListID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[OrderID] [nchar](10) NOT NULL,
	[CustomerID] [nchar](10) NULL,
	[StaffID] [nchar](10) NULL,
	[Estimate] [int] NULL,
	[Deposit] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[RoomID] [nchar](10) NOT NULL,
	[RoomName] [nvarchar](50) NULL,
	[RoomTypeID] [nchar](10) NULL,
	[NumberOfBeds] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[StatusID] [nchar](10) NULL,
 CONSTRAINT [PK_ROOM] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICELISTDETAIL]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICELISTDETAIL](
	[PriceListID] [nchar](10) NOT NULL,
	[RoomTypeID] [nchar](10) NOT NULL,
	[ConditionID] [nchar](10) NOT NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_PRICELISTDETAIL] PRIMARY KEY CLUSTERED 
(
	[PriceListID] ASC,
	[RoomTypeID] ASC,
	[ConditionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAIL]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAIL](
	[OrderDetailID] [nchar](10) NOT NULL,
	[OrderID] [nchar](10) NULL,
	[RoomID] [nchar](10) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Estimate] [date] NULL,
	[OrderStatus] [bit] NULL,
 CONSTRAINT [PK_ORDERDETAIL] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLDETAIL]    Script Date: 07/20/2015 03:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLDETAIL](
	[BillID] [nchar](10) NOT NULL,
	[OrderID] [nchar](10) NULL,
	[BillDate] [date] NULL,
	[StaffID] [nchar](10) NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_BILLDETAIL] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICEDETAIL]    Script Date: 07/20/2015 03:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICEDETAIL](
	[SevicesDetailID] [nchar](10) NOT NULL,
	[OrderDetailID] [nchar](10) NULL,
	[ServicesID] [nchar](10) NULL,
	[Quantity] [int] NULL,
	[Monetized] [int] NULL,
 CONSTRAINT [PK_SERVICEDETAIL] PRIMARY KEY CLUSTERED 
(
	[SevicesDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BILLDETAIL_ORDER]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[BILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILLDETAIL_ORDER] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDER] ([OrderID])
GO
ALTER TABLE [dbo].[BILLDETAIL] CHECK CONSTRAINT [FK_BILLDETAIL_ORDER]
GO
/****** Object:  ForeignKey [FK_BILLDETAIL_STAFF]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[BILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILLDETAIL_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[BILLDETAIL] CHECK CONSTRAINT [FK_BILLDETAIL_STAFF]
GO
/****** Object:  ForeignKey [FK_ORDER_STAFF]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_STAFF]
GO
/****** Object:  ForeignKey [FK_ORDERDETAIL_ORDER]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAIL_ORDER] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDER] ([OrderID])
GO
ALTER TABLE [dbo].[ORDERDETAIL] CHECK CONSTRAINT [FK_ORDERDETAIL_ORDER]
GO
/****** Object:  ForeignKey [FK_ORDERDETAIL_ROOM]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAIL_ROOM] FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[ORDERDETAIL] CHECK CONSTRAINT [FK_ORDERDETAIL_ROOM]
GO
/****** Object:  ForeignKey [FK_PRICELIST_STAFF]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[PRICELIST]  WITH CHECK ADD  CONSTRAINT [FK_PRICELIST_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[PRICELIST] CHECK CONSTRAINT [FK_PRICELIST_STAFF]
GO
/****** Object:  ForeignKey [FK_PRICELISTDETAIL_CONDITIONS]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[PRICELISTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PRICELISTDETAIL_CONDITIONS] FOREIGN KEY([ConditionID])
REFERENCES [dbo].[CONDITIONS] ([ConditionsID])
GO
ALTER TABLE [dbo].[PRICELISTDETAIL] CHECK CONSTRAINT [FK_PRICELISTDETAIL_CONDITIONS]
GO
/****** Object:  ForeignKey [FK_PRICELISTDETAIL_PRICELIST]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[PRICELISTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PRICELISTDETAIL_PRICELIST] FOREIGN KEY([PriceListID])
REFERENCES [dbo].[PRICELIST] ([PriceListID])
GO
ALTER TABLE [dbo].[PRICELISTDETAIL] CHECK CONSTRAINT [FK_PRICELISTDETAIL_PRICELIST]
GO
/****** Object:  ForeignKey [FK_PRICELISTDETAIL_ROOMTYPE]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[PRICELISTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PRICELISTDETAIL_ROOMTYPE] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[ROOMTYPE] ([RoomTypeID])
GO
ALTER TABLE [dbo].[PRICELISTDETAIL] CHECK CONSTRAINT [FK_PRICELISTDETAIL_ROOMTYPE]
GO
/****** Object:  ForeignKey [FK_ROOM_ROOMTYPE]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_ROOM_ROOMTYPE] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[ROOMTYPE] ([RoomTypeID])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_ROOM_ROOMTYPE]
GO
/****** Object:  ForeignKey [FK_ROOM_STATUS]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_ROOM_STATUS] FOREIGN KEY([StatusID])
REFERENCES [dbo].[STATUS] ([StatusID])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_ROOM_STATUS]
GO
/****** Object:  ForeignKey [FK_SERVICEDETAIL_ORDERDETAIL]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[SERVICEDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SERVICEDETAIL_ORDERDETAIL] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[ORDERDETAIL] ([OrderDetailID])
GO
ALTER TABLE [dbo].[SERVICEDETAIL] CHECK CONSTRAINT [FK_SERVICEDETAIL_ORDERDETAIL]
GO
/****** Object:  ForeignKey [FK_SERVICEDETAIL_SERVICES]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[SERVICEDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SERVICEDETAIL_SERVICES] FOREIGN KEY([ServicesID])
REFERENCES [dbo].[SERVICES] ([ServicesID])
GO
ALTER TABLE [dbo].[SERVICEDETAIL] CHECK CONSTRAINT [FK_SERVICEDETAIL_SERVICES]
GO
/****** Object:  ForeignKey [FK_SERVICES_UNIT]    Script Date: 07/20/2015 03:16:36 ******/
ALTER TABLE [dbo].[SERVICES]  WITH CHECK ADD  CONSTRAINT [FK_SERVICES_UNIT] FOREIGN KEY([UnitID])
REFERENCES [dbo].[UNIT] ([UnitID])
GO
ALTER TABLE [dbo].[SERVICES] CHECK CONSTRAINT [FK_SERVICES_UNIT]
GO
